.category-container {
  padding: 2% 5%;
}

.loading-status {
  text-align: center;
  font-size: 5%;
  color: blueviolet;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.category-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.ellipsis {
  cursor: pointer;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
